/*
  ========================================
  404 Page Container
  ========================================
*/

.not-found-content {
  height: calc(100vh - 70px);
  position: relative;

  /*
    ========================================
    Rick And Morty Caps
    ========================================
  */

  & > img {
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    height: 300px;
    left: 30px;
    position: absolute;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;

    /*
      ========================================
      404 Text
      ========================================
    */

    h2 {
      background: -webkit-linear-gradient(var(--gradient-blue) 27%, var(--gradient-green) 64%);
      background-clip: text;
      font-size: 20rem;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
    }

    /*
      ========================================
      Return Home Button
      ========================================
    */

    a {
      border-bottom: 3px solid;
      
      &:hover {
        border-bottom: 0;
      }
    }
  }
}