/*
  ========================================
  Normalize CSS
  ========================================
*/

@import-normalize;

/*
  ========================================
  Fonts
  ========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* */

/*
  ========================================
  Variables
  ========================================
*/

:root {
  --gradient-blue: #22A2BD;
  --gradient-green: #7DFF48;
  --guyabano-color: rgb(248, 248, 248);
  --lighter-gray: #F0F0F0;
  --lighter-gray2: rgba(0, 0, 0, 0.05);
  --light-gray: rgba(0, 0, 0, 0.1);
  --gray: rgba(0, 0, 0, 0.3);
  --white: #FFF;

  --content-background: var(--guyabano-color);
  --border: var(--light-gray);
  --info-title: var(--gray);
  --scrollbar-thumb: var(--lighter-gray);
  --character-card-hover: var(--lighter-gray2);
}

/*
  ========================================
  Custom Styles Resets
  ========================================
*/
* {
  box-sizing: border-box;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100vh;
  overflow: hidden;
} 

ul, ol {
  display: inline-block;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 2.2rem;
}

h3 {
  margin: 0;
  font-size: 2.3rem;
}

input {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 5px auto 0;
  display: block;
}

select {
  height: 33px;
  width: 100%;
  margin-top: 5px;
}